<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Beer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/user']">User</a>
      </li>

    </ul>
  </div>
  <ul class="navbar-nav navbar-right">
    <li *ngIf="!authService.isAuthenticated" class="nav-link" ><a (click)="user.tryGoogleLogin()">Login<i class="fa fa-user ml-2"></i></a></li>

    <li *ngIf="authService.isAuthenticated" class="nav-item dropdown" ngbDropdown>
      <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>
        {{user.name}}  <img src="{{user.image}}" height="25" width="25"/><span class="caret"></span></a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/user']">User Settings</a>
          <a class="dropdown-item" (click)="user.logout()">Logout</a>
        </div>
    </li>
    
    
  
</ul>
</nav>
