<div class="container">
    <div class="row">
     
      <div class="col">
        <h4 class="card-title">External API</h4>
        <div class="btn-group">
            <button type="button" class="btn btn-primary waves-light" (click)="PreviousPage()" mdbWavesEffect>Previous</button>
            <button type="button" class="btn btn-primary waves-light" (click)="NextPage()" mdbWavesEffect>Next</button>
        </div>
        <div *ngFor="let item of beers">
            <div class="card" *ngIf="!btnPressed">
            <div class="row ">
              <div class="col-auto">
                  <img class="img-thumbnail mt-3 ml-4" style="height: 250px;" src="{{item.image_url}}" alt="">
              </div>
              <div class="col mr-auto ">
                  <div class="card-body">
                      <h4 class="card-title">{{ item.name }}</h4>
                      <span class="badge badge-default">{{ item.id }}</span>
                      <span class="badge badge-success">{{ item.tagline }}</span>
                      <span class="badge badge-danger">{{item.abv}} %</span>
                      <br>
                      <br>
                      <p class="card-text">{{ item.description }}
                      </p>
                  </div>
              </div>
            </div>
            </div>
            <br>
          </div>
      </div>
      
      <div class="col">
        <h4 class="card-title">Own API</h4>
        <div *ngFor="let item2 of ownBeers">
            <div class="card">
            <div class="row ">
              <div class="col-auto">
                  <img class="img-thumbnail mt-3 ml-4" style="height: 250px;" src="{{item2.image}}" alt="">
              </div>
              <div class="col mr-auto ">
                  <div class="card-body">
                      <h4 class="card-title">{{ item2.name }}</h4>
                      <span class="badge badge-default">{{ item2.id }}</span>
                      <span class="badge badge-success">{{ item2.type }}</span>
                      <span class="badge badge-danger">{{item2.alcoholPercentage}} %</span>
                      <br>
                      <br>
                      <p class="card-text">{{ item2.description }}
                      </p>
                  </div>
              </div>
            </div>
            </div>
            <br>
          </div>
      </div> 
    </div>
  </div>


